<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}"></head>
<style>
    .suggestions-list {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        display: none;
    }

    .suggestions-list div {
        padding: 10px;
        cursor: pointer;
    }

    .suggestions-list div:hover {
        background-color: #f0f0f0;
    }

</style>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="~{admin/fragments/header :: header}"></div>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Bán Hàng Tại Quầy
                <small>it all starts here</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i><a href="/admin">Home</a></a></li>
                <li><a href="#">Bán Hàng Tại Quầy</a></li>
            </ol>
            <!-- Toast Notification -->
            <div class="toast-container position-fixed top-0 end-0 p-3">
                <div th:if="${successMessage}" class="toast align-items-center text-bg-success border-0" role="alert"
                     aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            <span th:text="${successMessage}"></span>
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                </div>
                <div th:if="${errorMessage}" class="toast align-items-center text-bg-danger border-0" role="alert"
                     aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            <span th:text="${errorMessage}"></span>
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                </div>
            </div>

        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-body">
                    <!--Form giao diện-->
                    <div class="container mt-5" style=" border: 2px solid ; padding: 20px; margin-top: 20px;">
                        <!-- Phần tiêu đề -->
                        <div class="mb-4 border-bottom pb-3">
                            <form th:action="@{/create-hoa-don}" method="post"
                                  class="d-flex justify-content-between align-items-center">
                                <h5 class="text-primary">
                                    <i class="fas fa-file-invoice"></i> Danh sách Hóa Đơn
                                </h5>
                                <button class="btn btn-primary">
                                    <i class="fas fa-plus"></i> Tạo hóa đơn
                                </button>
                            </form>
                        </div>

                        <!-- Danh sách hóa đơn -->
                        <div class="row g-4">
                            <th:block th:each="hoaDon, status : ${hoaDons}">
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="card border-primary shadow-sm position-relative rounded-3 overflow-hidden">

                                        <!-- Nút xóa hóa đơn -->
                                        <form th:action="@{/delete/{id}(id=${hoaDon.id})}" method="POST"
                                              class="position-absolute top-0 end-0 m-2">
                                            <input type="hidden" name="hoaDonId" th:value="${hoaDon.id}">
                                            <button type="submit"
                                                    class="btn btn-sm btn-danger d-flex align-items-center justify-content-center p-0"
                                                    style="width: 30px; height: 30px; border-radius: 50%;"
                                                    title="Xóa hóa đơn"
                                                    onclick="return confirm('Bạn có chắc chắn muốn xóa hóa đơn này?')">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </form>

                                        <!-- Nội dung hóa đơn -->
                                        <form th:action="@{/admin/sell-counter}" method="GET" class="w-100">
                                            <input type="hidden" name="hoaDonId" th:value="${hoaDon.id}">
                                            <button type="submit" class="btn p-0 w-100 text-start">
                                                <div class="card-header bg-primary text-white text-center py-3">
                                                    <h6 class="mb-0 text-uppercase"># <span
                                                            th:text="${hoaDon.maHoaDon}"></span></h6>
                                                </div>
                                                <div class="card-body text-center">
                                                    <p class="card-text text-muted">
                                                        <i class="fas fa-shopping-cart"></i> Số lượng sản phẩm:
                                                        <strong th:text="${hoaDon.tongSanPham}"></strong>
                                                    </p>
                                                </div>
                                                <div class="card-footer bg-light text-center">
                                                    <small class="text-muted">Chi tiết hóa đơn</small>
                                                </div>
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>

                <div th:if="${hoaDon != null and hoaDon.id != null}">
                    <!-- Phần Sản Phẩm: -->
                    <div id="productSection" style=" border: 2px solid; padding: 20px; margin-top: 20px;">
                        <!-- Chức năng -->
                        <div class="bill-header d-flex justify-content-between align-items-center"
                             style="border-bottom: 2px solid #17a2b8; padding-bottom: 10px;">
                            <strong><i class="fas fa-list" style="color: #17a2b8; font-size: 18px;"></i> Danh Sách Sản
                                Phẩm</strong>
                            <div class="d-flex gap-2">
                                <!-- Nút QR và Thêm sản phẩm -->
                                <button class="btn btn-outline-primary">
                                    <i class="fas fa-qrcode"></i> QR Code
                                </button>
                                <a class="btn btn-outline-primary" th:href="@{/admin/add-product-modal(hoaDonId=${hoaDon.id})}">
                                    <i class="fas fa-cart-plus"></i> Thêm sản phẩm
                                </a>
                            </div>
                        </div>

                        <!-- Hiển thị danh sách sản phẩm trong giỏ hàng -->
                        <div class="product-list" style="border-top: 2px solid ; padding-top: 20px;">
                            <table class="table table-bordered table-striped align-middle">
                                <thead class="text-center">
                                <tr>
                                    <th>STT</th>
                                    <th>Sản Phẩm</th>
                                    <th style="width: 10%">Số Lượng</th>
                                    <th>Thương Hiệu</th>
                                    <th>Xuất Sứ</th>
                                    <th>Thành Tiền</th>
                                    <th>Trạng Thái</th>
                                    <th>Chọn</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:block th:each="hoaDonChiTiet, status : ${hoaDonChiTiet}">
                                    <td class="text-center" th:text="${status.index + 1}"></td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img th:src="@{'/images/' + ${hoaDonChiTiet.sanPhamChiTiet.hinhAnh[0].urlHinhAnh}}"
                                                 width="80">
                                            <div class="ms-3">
                                                <strong th:text="${hoaDonChiTiet.sanPhamChiTiet.sanPham.tenSanPham}"></strong><br>
                                                <small th:text="'Màu Sắc: ' + ${hoaDonChiTiet.sanPhamChiTiet.mauSac.tenMauSac}"></small><br>
                                                <small th:text="'Size: ' + ${hoaDonChiTiet.sanPhamChiTiet.kichThuoc.tenKichThuoc}"></small><br>
                                                <small class="text-danger font-weight-bold fs-5"
                                                       th:text="${#numbers.formatInteger(hoaDonChiTiet.sanPhamChiTiet.gia, 3, 'COMMA') + ' VND'}"></small><br>
                                                <small class="text-muted"
                                                       th:text="'Tồn Kho: ' + ${hoaDonChiTiet.sanPhamChiTiet.soLuong}"></small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <form th:action="@{/update-product-order}" method="post">
                                            <input type="hidden" name="hoaDonChiTietId" th:value="${hoaDonChiTiet.id}">
                                            <input type="hidden" name="hoaDonId" th:value="${hoaDon.id}">
                                            <input type="number" name="soLuong" th:value="${hoaDonChiTiet.soLuong}"
                                                   min="1"
                                                   class="form-control" required onchange="this.form.submit()">
                                        </form>
                                    </td>
                                    <td class="text-center"
                                        th:text="${hoaDonChiTiet.sanPhamChiTiet.sanPham.thuongHieu.tenThuongHieu}"></td>
                                    <td class="text-center"
                                        th:text="${hoaDonChiTiet.sanPhamChiTiet.sanPham.xuatXu.quocGia}"></td>
                                    <td class="text-center" th:text="${hoaDonChiTiet.thanhTien}"></td>
                                    <td class="text-center">
                        <span th:class="${hoaDonChiTiet.sanPhamChiTiet.trangThai == 'Đang Hoạt Động' ? 'badge bg-danger' : 'badge bg-success'}"
                              th:text="${hoaDonChiTiet.sanPhamChiTiet.trangThai}"></span>
                                    </td>
                                    <td>
                                        <form th:action="@{/delete-product-order}" method="post">
                                            <input type="hidden" name="hoaDonChiTietId" th:value="${hoaDonChiTiet.id}">
                                            <input type="hidden" name="hoaDonId" th:value="${hoaDon.id}">
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fas fa-trash"></i> Xóa
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <h3 th:block th:each="hoaDon : ${hoaDon}" class="text-end">
                                <strong>Tổng Tiền: </strong>
                                <small class="text-danger font-weight-bold fs-5"
                                       th:text="${(hoaDon == null or hoaDon.tongTien == null or hoaDon.tongTien == 0) ? '0 VND' : #numbers.formatInteger(hoaDon.tongTien, 3, 'COMMA') + ' VND'}">
                                </small>

                            </h3>
                        </div>
                    </div>

                    <!-- Phần Tài Khoản Khách Hàng -->
                    <div class="bill-footer" style="border: 2px solid; padding: 20px; margin-top: 20px;">
                        <div class="d-flex justify-content-between align-items-center lg">
                            <h3><i class="fas fa-user-circle" style="font-size: 24px;"></i> Tài khoản</h3>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#customerModal">
                                <i class="fas fa-user"></i> Chọn tài khoản
                            </button>

                            <!-- Modal Chọn Khách Hàng -->
                            <div class="modal fade" id="customerModal" tabindex="-1"
                                 aria-labelledby="customerModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="customerModalLabel">Danh sách khách hàng</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Thanh tìm kiếm và nút thêm khách hàng -->
                                            <div class="d-flex justify-content-between mb-3">
                                                <!-- Thanh tìm kiếm -->
                                                <input type="text" class="form-control me-3" id="searchCustomer"
                                                       placeholder="Tìm kiếm khách hàng...">

                                                <!-- Nút thêm khách hàng với icon -->
                                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                                        data-bs-target="#addCustomerModal">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>

                                            <!-- Bảng danh sách khách hàng -->
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Tên Khách Hàng</th>
                                                    <th>Phone</th>
                                                    <th>Chọn</th>
                                                </tr>
                                                </thead>
                                                <tbody id="customerTableBody">
                                                <tr th:each="khachHang : ${khachHangs}">
                                                    <td th:text="${khachHang.hoTen}"></td>
                                                    <td th:text="${khachHang.soDienThoai}"></td>
                                                    <td>
                                                        <form th:action="@{/add-customer}" method="post">
                                                            <input type="hidden" name="hoaDonId"
                                                                   th:value="${hoaDon.id}">
                                                            <input type="hidden" name="khachHangId"
                                                                   th:value="${khachHang.id}">
                                                            <button type="submit" class="btn btn-primary">Chọn</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal thêm khách hàng mới -->
                            <div class="modal fade" id="addCustomerModal" tabindex="-1"
                                 aria-labelledby="addCustomerModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addCustomerModalLabel">Thêm Khách Hàng Mới</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form th:action="@{/add-new-customer}" method="post" id="addCustomerForm">
                                                <input type="hidden" name="hoaDonId" th:value="${hoaDon.id}">
                                                <div class="mb-3">
                                                    <label for="nguoiNhan" class="form-label">Họ Tên</label>
                                                    <input type="text" class="form-control" id="nguoiNhan"
                                                           name="nguoiNhan"
                                                           placeholder="Nhập họ tên" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="soDienThoai" class="form-label">Số Điện Thoại</label>
                                                    <input type="text" class="form-control" id="soDienThoai"
                                                           name="soDienThoai"
                                                           placeholder="Nhập số điện thoại" required>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Hủy
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-center my-2">
                            <span class="me-2 fw-bold">
                                <i class="bi bi-person-circle"></i> Tên khách hàng:
                            </span>
                            <span class="p-2 rounded border bg-light">
                                <span th:if="${hoaDon.nguoiNhan != null}">
                                    <span th:text="${hoaDon.nguoiNhan}"></span> -
                                <span class="text-muted"
                                      th:text="${hoaDon.soDienThoai != null ? hoaDon.soDienThoai : '(Không có số điện thoại)'}"></span></span>
                                    <span th:if="${hoaDon.nguoiNhan == null && hoaDon.soDienThoai == null}"
                                          class="text-danger">Khách Lẻ</span>
                            </span>

                            <!-- Nút xóa khách hàng (Chỉ hiển thị nếu hoaDon.khachHang != null) -->
                            <form th:if="${hoaDon.nguoiNhan != null && hoaDon.soDienThoai != null}"
                                  th:action="@{/delete-customer}" method="post"
                                  class="d-inline"
                                  onsubmit="return confirm('Bạn có chắc chắn muốn xóa khách hàng này?')">
                                <input type="hidden" name="hoaDonId" th:value="${hoaDon.id}">
                                <button type="submit" class="btn btn-link text-danger p-0 ms-2" title="Xóa khách hàng">
                                    <i class="fas fa-times"></i>
                                </button>
                            </form>

                        </div>
                    </div>

                    <!-- Phần Thanh Toán -->
                    <div class="payment-section" style="border: 2px solid; padding: 20px; margin-top: 20px;">
                        <div class="row">
                            <!-- Cột thông tin giao hàng bên trái -->
                            <div class="col-md-6">
                                <h3><i class="fas fa-shipping-fast" style="font-size: 24px;"></i> Thông tin giao hàng
                                </h3>

                                <div class="mt-3" id="shippingForm" th:if="${hoaDon.loaiHoaDon != 'Tại Quầy'}">
                                    <div class="card card-body">
                                        <form th:action="@{/update-shipping}" method="post">
                                            <input type="hidden" name="hoaDonId" th:value="${hoaDon.id}">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Người Nhận:</label>
                                                    <input type="text" name="nguoiNhan" class="form-control" th:value="${hoaDon.nguoiNhan}">
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Số Điện Thoại:</label>
                                                    <input type="text" name="soDienThoai" class="form-control" th:value="${hoaDon.soDienThoai}">
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="soNha" class="form-label">Số Nhà:</label>
                                                    <input type="text" id="soNha" name="soNha" class="form-control" th:value="${hoaDon.soNha}">
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="phuong" class="form-label">Phường:</label>
                                                    <input type="text" id="phuong" name="phuong" class="form-control" th:value="${hoaDon.phuong}">
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="huyen" class="form-label">Huyện:</label>
                                                    <input type="text" id="huyen" name="huyen" class="form-control" th:value="${hoaDon.huyen}">
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="thanhPho" class="form-label">Thành Phố:</label>
                                                    <input type="text" id="thanhPho" name="thanhPho" class="form-control" th:value="${hoaDon.thanhPho}">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary w-100">Cập nhật giao hàng</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Cột thông tin thanh toán bên phải -->
                            <div class="col-md-6">
                                <h3><i class="fas fa-wallet"></i> Thông tin thanh toán</h3>

                                <!-- Phương thức thanh toán -->
                                <div class="d-flex align-items-center mb-4">
    <span>
        <i class="fas fa-credit-card"></i>
        <strong>Phương thức thanh toán: </strong>
        <span id="paymentMethodText"
              th:text="${hoaDon.phuongThucThanhToan != null ? hoaDon.phuongThucThanhToan.tenPhuongThuc : 'Chưa có phương thức'}"></span>
    </span>

                                    <!-- Mở modal -->
                                    <button type="button" class="btn btn-outline-primary ms-auto" data-bs-toggle="modal"
                                            data-bs-target="#paymentModal">
                                        <i class="bi bi-credit-card"></i>
                                    </button>
                                </div>

                                <!-- Modal chọn phương thức thanh toán -->
                                <div class="modal fade" id="paymentModal" tabindex="-1"
                                     aria-labelledby="paymentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="paymentModalLabel">Chọn phương thức thanh
                                                    toán</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="paymentMethodForm">
                                                    <input type="hidden" name="hoaDonId"
                                                           th:value="${hoaDon != null ? hoaDon.id : ''}">
                                                    <div class="mb-3">
                                                        <label for="phuongThucThanhToan" class="form-label">
                                                            <i class="fas fa-credit-card"></i> Phương thức thanh toán:
                                                        </label>
                                                        <select id="phuongThucThanhToan" name="phuongThucThanhToanId"
                                                                class="form-select">
                                                            <option value="" disabled selected>Chọn phương thức thanh
                                                                toán
                                                            </option>
                                                            <th:block
                                                                    th:each="phuongThucThanhToan : ${listPhuongThucThanhToan}">
                                                                <option th:value="${phuongThucThanhToan.id}"
                                                                        th:text="${phuongThucThanhToan.tenPhuongThuc}"></option>
                                                            </th:block>
                                                        </select>
                                                    </div>
                                                    <button type="button" id="addPaymentMethodButton"
                                                            class="btn btn-primary">
                                                        Cập nhật
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mã Giảm Giá -->
                                <div class="d-flex align-items-center mb-4">
                                    <span>
                                        <i class="fas fa-tag"></i>
                                        <strong>Mã giảm giá: </strong>
                                        <span th:text="${hoaDon.phieuGiamGia != null ? hoaDon.phieuGiamGia.tenChuongTrinh : 'Chưa có phiếu giảm giá'}"></span>
                                    </span>

                                    <!-- Mở modal chọn mã giảm giá -->
                                    <button type="button" class="btn btn-outline-primary ms-auto" data-bs-toggle="modal"
                                            data-bs-target="#discountModal">
                                        <i class="fas fa-tag"></i>
                                    </button>

                                    <!-- Modal mã giảm giá -->
                                    <div class="modal fade" id="discountModal" tabindex="-1"
                                         aria-labelledby="discountModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="discountModalLabel">Chọn mã giảm
                                                        giá</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{/apply-phieu-giam-gia}" method="post">
                                                        <input type="hidden" name="hoaDonId"
                                                               th:value="${hoaDon != null ? hoaDon.id : ''}">
                                                        <div class="mb-3">
                                                            <label for="tenChuongTrinh" class="form-label">
                                                                <i class="fas fa-tag"></i> Mã giảm giá:
                                                            </label>
                                                            <select id="tenChuongTrinh" name="tenChuongTrinh"
                                                                    class="form-select">
                                                                <option value="null" disabled selected>Chọn phiếu giảm
                                                                    giá
                                                                </option>
                                                                <th:block th:each="phieuGiamGia : ${listPhieuGiamGia}">
                                                                    <option th:value="${phieuGiamGia.tenChuongTrinh}"
                                                                            th:text="${phieuGiamGia.tenChuongTrinh + ' ( ' + #numbers.formatInteger(phieuGiamGia.giaTri, 3, 'COMMA') + ' ' + 'VND' + ' ) ' }"></option>
                                                                </th:block>
                                                            </select>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Áp dụng</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Giao Hàng -->
                                <div class="info mb-4 d-flex align-items-center">
                                    <i class="fas fa-truck me-2"></i>
                                    <span class="me-auto fw-bold">Giao Hàng:</span>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="deliverySwitch"
                                               th:checked="${hoaDon.loaiHoaDon == 'Giao Hàng'}"
                                               th:disabled="${hoaDon.loaiHoaDon != 'Giao Hàng'}"
                                               onchange="preventUncheck(this)">
                                    </div>
                                </div>

                                <!-- Phí Ship -->
                                <div class="info mb-4">
                                    <span><i class="fas fa-box"></i> Phí Ship:</span>
                                    <span th:text="${hoaDon.phiShip != 0 ? #numbers.formatInteger(hoaDon.phiShip, 3, 'COMMA') + ' VND' : '0 VND'}"></span>
                                </div>

                                <!-- Tiền hàng -->
                                <div class="info mb-4">
                                    <span><i class="fas fa-box"></i> Tiền hàng:</span>
                                    <span th:text="${(hoaDon.tongTien != null && hoaDon.tongTien != 0) ?
                                    #numbers.formatInteger(hoaDon.tongTien, 3, 'COMMA') + ' VNĐ'
                                    : '0 VND'}"></span>
                                </div>

                                <!-- Giảm Giá -->
                                <div class="info mb-4">
                                    <span><i class="fas fa-percent"></i> Giảm giá:</span>
                                    <span th:text="${hoaDon.phieuGiamGia != null ? hoaDon.phieuGiamGia.giaTri + ' VNĐ' : '0 VNĐ'}"></span>
                                </div>

                                <!-- Tổng Tiền -->
                                <div class="info mb-3">
                                    <!-- Tổng Tiền -->
                                    <div class="info mb-3">
                                        <strong>Tổng tiền:</strong>
                                        <strong>
                                            <span th:text="${(hoaDon.tongTien != null && hoaDon.tongTien != 0) ?
                                                    #numbers.formatInteger(hoaDon.tongTien - (hoaDon.phieuGiamGia != null ? hoaDon.phieuGiamGia.giaTri : 0) + hoaDon.phiShip, 3, 'COMMA') + ' VNĐ'
                                                    : '0 VNĐ'}"></span>
                                            <span data-bs-toggle="modal" data-bs-target="#infoModal">
                                                <i class="bi bi-question-circle"></i>
                                            </span>
                                        </strong>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="infoModal" tabindex="-1"
                                         aria-labelledby="infoModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="infoModalLabel">Cách tính Tổng tiền</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Công thức tính tổng tiền là:</p>
                                                    <ul>
                                                        <li><strong>Tổng tiền hóa đơn</strong> - <strong>Giá trị phiếu
                                                            giảm giá</strong> + <strong>Phí vận chuyển</strong></li>
                                                        <span th:text="${(hoaDon.tongTien != null && hoaDon.tongTien != 0) ?
                                                    #numbers.formatInteger(hoaDon.tongTien - (hoaDon.phieuGiamGia != null ? hoaDon.phieuGiamGia.giaTri : 0) + hoaDon.phiShip, 3, 'COMMA') + ' VNĐ'
                                                    : '0 VNĐ'}"></span>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Xác Nhận Thanh Toán -->
                                <div class="confirm-button mt-3">
                                    <form th:action="@{/confirm-payment}" method="POST">
                                        <input type="hidden" name="hoaDonId" th:value="${hoaDon.id}">
                                        <button class="btn btn-success w-100">
                                            <i class="fas fa-check-circle"></i> Xác nhận thanh toán
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{admin/fragments/footer :: footer}"></div>


</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="~{admin/fragments/script :: script}"></div>
<!-- Thêm đoạn mã để kích hoạt tooltip -->
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var successMessage = /*[[${successMessage}]]*/ null;
        var errorMessage = /*[[${errorMessage}]]*/ null;

        if (successMessage) {
            let toastSuccessEl = document.querySelector('.toast.text-bg-success');
            if (toastSuccessEl) {
                let toastSuccess = new bootstrap.Toast(toastSuccessEl, { delay: 10000 });
                toastSuccess.show();
            }
        }

        if (errorMessage) {
            let toastErrorEl = document.querySelector('.toast.text-bg-danger');
            if (toastErrorEl) {
                let toastError = new bootstrap.Toast(toastErrorEl, { delay: 10000 });
                toastError.show();
            }
        }
    });
    function preventUncheck(checkbox) {
        if (checkbox.checked === false) {
            checkbox.checked = true; // Ngăn người dùng tắt nếu đã bật
        }
    }
</script>

<script th:inline="javascript">
    // Hàm tìm kiếm sản phẩm
    function showSuggestions() {
        const searchQuery = document.getElementById('searchInput').value.trim();
        const suggestionsBox = document.getElementById('suggestions');

        if (searchQuery !== '') {
            fetch(`/suggest-products?search=${searchQuery}`)
                .then(response => response.json())
                .then(data => {
                    suggestionsBox.innerHTML = ''; // Xóa các gợi ý cũ
                    if (data.length > 0) {
                        suggestionsBox.style.display = 'block'; // Hiển thị hộp gợi ý
                        data.forEach(product => {
                            const suggestionItem = document.createElement('div');
                            suggestionItem.textContent = `${product.tenSanPham} - ${product.tenMauSac} - ${product.tenKichThuoc}`;
                            suggestionItem.onclick = function() {
                                document.getElementById('searchInput').value = `${product.tenSanPham} - ${product.tenMauSac} - ${product.tenKichThuoc}`;
                                suggestionsBox.style.display = 'none'; // Ẩn hộp gợi ý khi chọn sản phẩm
                                submitForm(product); // Gọi hàm gửi form
                            };
                            suggestionsBox.appendChild(suggestionItem);
                        });
                    } else {
                        suggestionsBox.style.display = 'none'; // Ẩn hộp gợi ý nếu không có kết quả
                    }
                })
                .catch(error => console.error('Error:', error));
        } else {
            suggestionsBox.style.display = 'none'; // Ẩn hộp gợi ý nếu không có từ khóa
        }
    }

    // Sự kiện khi người dùng gõ trong ô tìm kiếm
    document.getElementById('searchInput').addEventListener('input', function() {
        showSuggestions(); // Gọi hàm hiển thị gợi ý khi người dùng gõ
    });

    // Hàm gửi form khi sản phẩm được chọn từ gợi ý hoặc khi ấn Enter
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Ngừng việc gửi form mặc định
        const selectedProduct = document.getElementById('searchInput').value;
        // Tìm sản phẩm tương ứng và gửi form nếu cần
        if (selectedProduct) {
            const form = document.querySelector('form[th\\:action="@{/add-product-order}"]');
            form.submit();
        }
    });

    // Hàm xử lý khi người dùng ấn Enter sau khi chọn sản phẩm
    document.getElementById('searchInput').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Ngừng việc gửi form mặc định
            const selectedProduct = document.getElementById('searchInput').value;
            // Nếu đã chọn sản phẩm thì tự động gửi form
            if (selectedProduct) {
                const form = document.querySelector('form[th\\:action="@{/add-product-order}"]');
                form.submit();
            }
        }
    });

</script>
<script>
    $(document).ready(function () {
        $('#addPaymentMethodButton').click(function () {
            var formData = $('#paymentMethodForm').serialize(); // Lấy toàn bộ dữ liệu form
            var selectedPayment = $('#phuongThucThanhToan').val(); // Lấy giá trị chọn

            if (!selectedPayment) {
                alert("Vui lòng chọn phương thức thanh toán!");
                return;
            }

            $.ajax({
                url: '/add-payment-method',
                method: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        $('#paymentMethodText').text(response.updatedPaymentMethod); // Cập nhật UI
                        $('#paymentModal').modal('hide');  // Đóng modal
                    } else {
                        alert(response.message || 'Cập nhật không thành công!');
                    }
                },
                error: function (xhr) {
                    alert('Lỗi: ' + xhr.responseText);
                }
            });
        });
    });

</script>


</body>
</html>
