<div th:fragment="script">
    <!-- Plugins JS File -->
    <script th:src="@{FE/js/jquery.min.js}"></script>
    <script th:src="@{FE/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{FE/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{FE/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{FE/js/superfish.min.js}"></script>
    <script th:src="@{FE/js/owl.carousel.min.js}"></script>
    <script th:src="@{FE/js/bootstrap-input-spinner.js}"></script>
    <script th:src="@{FE/js/jquery.plugin.min.js}"></script>
    <script th:src="@{FE/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{FE/js/jquery.countdown.min.js}"></script>
    <!-- Main JS File -->
    <script th:src="@{FE/js/main.js}"></script>
    <script th:src="@{FE/js/demos/demo-4.js}"></script>
</div>