
<div th:fragment="script">
    <!-- jQuery: Phiên bản mới nhất từ CDN -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>

    <!-- jQuery UI: Phiên bản mới nhất từ CDN -->
    <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.min.js}"></script>

    <!-- AdminLTE: Phiên bản mới nhất từ CDN -->
    <script th:src="@{/assets/js/adminlte.min.js}"></script>

    <!-- Dashboard custom script -->
    <script th:src="@{/assets/js/dashboard.js}"></script>

    <!-- Custom function script -->
    <script th:src="@{/assets/js/function.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</div>